extends layout.pug

block content

  article.portfolio-intro

 
    h1 My Portfolio

    p Hello everyone! My name is Anthony and I'm a full stack web developer in the making! This is my portfolio where I can show off a few of my application/project that I've built.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project_data in project_datas
        .cell
          a(href=`/project/${project_data.id}`)
            img.thumbnail(src=`${project_data.image_urls[0]}`, alt='my projects')
            h5= project_data.project_name

